@page
@model WebApplicationASP.Pages.Books.IndexPageModel
@{
}
<br />
<h1> BOOKS LIST </h1>
<table class="table">
    <thead>
        <tr>
            <th>BOOK CODE</th>
            <th>BOOK TITLE</th>
            <th>CATEGORY</th>
            <th>AUTHOR</th>
            <th>PUBLICATION</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Books book in Model.booksList)
        {
            <tr>
                <td>@book.BookCode</td>
                <td>@book.BookTitle</td>
                <td>@book.Category </td>
                <td>@book.Author</td>
                <td>@book.Publication</td>
                <td>@book.Price</td>
                <td><a class="btn-primary" href="/Books/UpdateBook?BookCode=@book.BookCode"> Edit </a></td>
                <td><a class="alert-danger" href="/Books/DeletePage?BookCode=@book.BookCode" > Delete </a></td>
            </tr>
        }

    </tbody>
</table>